*{
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    height: 60px;
    background-color: lavender;
}
.a{
    top: 0;
    position: fixed;
    width: 100%;
    height: 70px;
    opacity: 70%;
}
.a1{
    width: 25%;
    float: left;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 80%;
}
.cafeo{
    display: flex;
    grid-template-columns: auto auto;
    margin: 10px;
}
.cafe{
    width: 200px;
    height: 200px;
    margin: auto;
}
.cafe1{
    background-image: url(cafe1_under.jpeg);
    background-size: cover;
}
.cafe2{
    background-image: url(cafe2_under.jpeg);
    background-size: cover;
}
.cafe3{
    background-image: url(cafe3_under.jpeg);
    background-size: cover;
}
.cafe4{
    background-image: url(cafe4_under.jpeg);
    background-size: cover;
}
.h{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: lavender;
}
.p1{
    display: flex;
    justify-content: center;
}
abbr{
    font-size: 1.2em;
    width: 300px;
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-weight: bolder;
}
.abbr{
    margin-top: 250px;
}
img{
    width: 200px;
    height: 200px;
}
li{
    height: 300px;
}
.abbr1{
    background-image: url(qbak.jpg);
    height: 300px;
    background-size: cover;
    width: 300px;
}
.abbr2{
    background-image: url(qa.jpg);
    height: 300px;
    background-size: cover;
    width: 300px;
}
.abbr3{
    background-image: url(db.jpg);
    height: 300px;
    background-size: cover;
    width: 300px;
}
.abbr4{
    background-image: url(lk.jpg);
    height: 300px;
    background-size: cover;
    width: 300px;
}
.pp{
    margin: 10px;
}
.pp1{
    float: left;
    width: 23%;
}
.pp2{
    float: left;
    width: 23%;
}
.pp3{
    float: left;
    width: 23%;
}
.pp4{
    float: left;
    width: 23%;
}
@media (max-width:1000px){
    .pp1{
        margin: 10px auto;
        width: 90%;
    }
    .pp2{
        margin: 10px auto;
        width: 90%;
    }
    .pp3{
        margin: 10px auto;
        width: 90%;
    }
    .pp4{
        margin: 10px auto;
        width: 90%;
    }
    abbr{
        margin: auto;
    }
}
@media (max-width:720px){
    .aa1{
        float: left;
        width: 100%;
        height: 30px;
    }
    .aa2{
        float: left;
        height: 30px;
        width: 100%;
    }
    .aa3{
        float: left;
        height: 30px;
        width: 100%;
    }
    .aa4{
        float: left;
        height: 30px;
        width: 100%;
    }
}
.h1{
    height: 60px;
}